header {float: left;}
header ul{display: flex;flex-direction: column;}
header ul,header li {list-style: none;}
header ul{display: flex;}
header li{margin: 15px;cursor: pointer;}
header li a{color: #d0021b;text-decoration: none;}
header .active{font-weight: bold;}
main {float: left;margin-left: 40px;}
.close{float: right;}
.fileReader img{width: 50px;height: 50px;}
.modal-header {padding:10px 0;border-bottom: 1px solid #BDBDBD;}
.addProduct{padding-top: 15px;}
input[type=submit]{font-size: 18px;font-weight: bold;}
.container { z-index: 0;margin-top: 40px;}
.editor-root{min-height: 400px;}